/paskaituKodas/paskaita3/nbproject/private/
/paskaituKodas/paskaita3/build/
/paskaituKodas/paskaita3/dist/
/paskaita4/nbproject/private/
/paskaita4/build/
/paskaita4/dist/
/paskaita5/nbproject/private/
/paskaita5/build/
/savaitgalis1nd/nbproject/private/
/savaitgalis1nd/build/
/savaitgalis1nd/dist/